* {
	min-height: 10px;
	font-family: "Satisfy", cursive;
}
body {
	background: black;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
}

img {
	width: 50px;
	height: 57px;
}

h1 {
	width: 90%;
	margin: 0;
}

.postcard-body {
	display: flex;
}

.postcard-footer {
	text-align: center;
}
.body-left,
.body-right {
	padding: 10px;
}
input {
	border: none;
	border-bottom: 1px gray solid;
	font-size: 16px;
}

p {
	font-size: 16px;
}

button {
	background: lightgray;
	padding: 3px;
}

button:active {
	background: gray;
}
